<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактор личного кабинета</title>
    <link rel="stylesheet" href="{{url_for('static', filename = 'css/main.css')}}">
</head>
<body>
<center>
    <h1>Редактировать личные данные</h1>
    <form action="#" method="post">
        <h3>ФИО</h3><input type="text" name="fio" placeholder="{{fio}}"><br><br>
         <h3>Телефон</h3><input type="text" name="telephone" placeholder="{{tnumber}}"><br><br>
        <h3>Место жительства</h3>

        <select name="residence">
            <option>Не выбрано</option>
            <option>SAINTP</option>
            <option>MOSCOW</option>
            <option>NOVGOROD</option>
        </select>
<br><br>
        <input type="submit" name="submit_1" value="Изменить">
</center>

    </form>
</body>
</html>